@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  body {
    font-size: 12px; /* Adjust the font size for smaller devices */
  }
  .text-2xl {
    font-size: 15px; /* Adjust the font size for smaller devices */
  }
}

@media screen and (max-width: 400px) {
  .logo {
    font-size: smaller; /* Change this value as needed */
  }
}

@media screen and (max-width: 360px) {
  .logo {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  a {
    -webkit-tap-highlight-color: transparent;
  }
  button {
    -webkit-tap-highlight-color: transparent;
  }
}

@media only screen and (max-width: 420px) {
  .footer-content {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
